<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Datos</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Comentarios</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Anexos</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card">
            <div class="card-body">
                <form ngNativeValidate class="form-horizontal form-material">
                    <!-- <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="assets/images/logo-text.png" alt="Home" /></a> -->
                    <div class="row form-group">
                        <div class="col-sm-7">
                            <label for="inputTitulo">Titulo(*)</label>
                            <input type="text" class="form-control" required id="inputTitulo">
                        </div>
                        <div class="col-sm-5"></div>

                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="inputDescripcion">Descripción(*)</label>
                            <textarea class="form-control" id="inputDescripcion" required rows="3"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label for="inputDescripcion">Descripción</label>
                            <!-- <input type="text" class="form-control" id="inputDescripcion" placeholder=""> -->
                            <textarea class="form-control" id="inputDescripcion" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label for="inputSolucion">Solución</label>
                            <input type="text" class="form-control" id="inputSolucion" placeholder="">

                        </div>
                        <div class="col-sm-4">



                            <label for="inputContacto">Contacto/tel</label>
                            <input type="text" class="form-control" id="inputContacto" placeholder="">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="inputEtapa">Etapa</label>
                            <!-- <input type="text" class="form-control" id="inputEtapa" placeholder=""> -->
                            <select class="form-control" id="inputEtapa">
                                <option selected>--</option>
                                <option>Etapa1</option>
                                <option>Etapa 2</option>
                                <option>Etapa 3</option>
                              </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="inputEstado">Estado</label>
                            <input type="text" class="form-control" id="inputEstado" placeholder="">
                        </div>

                        <div class="col-sm-4">

                            <label for="inputUrgencia">Urgencia</label>
                            <input type="text" class="form-control" id="inputUrgencia" placeholder="">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="inputLugar">Lugar</label>
                            <input type="text" class="form-control" id="inputLugar" placeholder="">

                        </div>
                        <div class="col-sm-4">
                            <label for="input"></label>
                            <input type="text" class="form-control" id="input" placeholder="">
                        </div>

                        <div class="col-sm-4">

                            <label for="inputPrioridad">Prioridad</label>
                            <input type="text" class="form-control" id="inputPrioridad" placeholder="">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="inputDepto">Departamento</label>
                            <input type="text" class="form-control" id="inputDepto" placeholder="">

                        </div>
                        <div class="col-sm-4">
                            <label for="input"></label>
                            <input type="text" class="form-control" id="input" placeholder="">
                        </div>

                        <div class="col-sm-4">

                            <label for="inputImpacto">Impacto</label>
                            <input type="text" class="form-control" id="inputImpacto" placeholder="">
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <label for="input"></label>
                            <input type="text" class="form-control" id="input" placeholder="">

                        </div>
                        <div class="col-sm-4">
                            <label for="inputTipo">Tipo</label>
                            <input type="text" class="form-control" id="inputTipo" placeholder="">
                        </div>

                        <div class="col-sm-4">

                            <label for="inputNivel">Nivel</label>
                            <input type="text" class="form-control" id="inputNivel" placeholder="">
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-sm-4">
                            <label for="input"></label>
                            <input type="text" class="form-control" id="input" placeholder="">

                        </div>
                        <div class="col-sm-4">
                            <label for="input"></label>
                            <input type="text" class="form-control" id="input" placeholder="">
                        </div>

                        <div class="col-sm-4">

                            <label for="inputTecnico">Tecnico</label>
                            <input type="text" class="form-control" id="inputTecnico" placeholder="">
                        </div>

                    </div>


                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">


    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">3</div>
</div>