<button class="mdc-button">
    <div class="mdc-button__ripple"></div>
    <i class="material-icons mdc-button__icon" aria-hidden="true"
      >bookmark</i
    >
    <span class="mdc-button__label">Text Button plus icon</span>
  </button>